{% extends 'dashboard.html' %}


{% block content %}

            <li id="bordereau-btn">
				<i class="fa-solid fa-file-contract"></i>
					<span class="text"> Mon Bordereau</span>
			</li>
            <li id="Racheter-btn">	
				<i class="fa-solid fa-money-check-dollar"></i>
					<span class="text"> Racheter PC </span>
			</li>
            <li id="Restituer-btn">
				<i class="fa-solid fa-rotate-left"></i>
					<span class="text">Restituer PC</span>
			</li>

			 <li id="Achat_piece-btn">
				<i class="fa-solid fa-rotate-left"></i>
					<span class="text">Demande d'achat de périphérique</span>
			</li>
           
{% endblock %}