{% extends 'dashboard.html' %}

{% block content %}
    <li class="active" id="dashboard-btn">
        <i class='bx bxs-dashboard'></i>
        <span class="text">Tableau de Bord</span>
    </li>
    <li id="catalogue-btn">
        <i class="fa-solid fa-folder"></i>
        <span class="text">Catalogue</span>
    </li>
    <li id="catalogue-ancien-btn">
        <i class="fa-solid fa-box-archive"></i>
        <span class="text">Catalogue des anciens PC</span>
    </li>
    <li id="attribuer-btn">
        <i class="fa-solid fa-laptop"></i>
        <span class="text">Attribuer un PC</span>
    </li>

    <li id="utilisateur-btn">
        <i class="fa-solid fa-user"></i>
        <span class="text">utilisateur</span>
    </li>
    <li id="parametre-btn">
			<i class='bx bxs-cog' ></i>
			<span class="text"> Parametre </span>
	</li>
{% endblock %}