{% extends 'dashboard.html' %}


{% block content %}
<li class="active" id="demande-btn">
        <i class="fa-solid fa-code-pull-request"></i>
        <span class="text">Demande de caractéristique</span>
    </li>

    <li class="active" id="received-characteristics-btn">
        <i class="fa-solid fa-share-from-square"></i>
        <span class="text">caracteristiques recues</span>
    </li>
    
<li id="lesdemandes-btn">
        <i class="fa-solid fa-folder"></i>
        <span class="text">Les demandes de rachat</span>
    </li>

    <li id="catalogue-btn">
		<i class="fa-solid fa-folder"></i>
		<span class="text">Inventaire</span>				
	</li>
{% endblock %}
