{% extends 'dashboard.html' %}


{% block content %}
    <li class="active" id="dashboard-btn">
        <i class='bx bxs-dashboard'></i>
        <span class="text">Tableau de Bord</span>
    </li>

    <li id="catalogue-btn">
        <i class="fa-solid fa-folder"></i>
        <span class="text">Catalogue</span>
    </li>

    <li id="catalogue-ancien-btn">
        <i class="fa-solid fa-box-archive"></i>
        <span class="text">Catalogue des anciens PC</span>
    </li>

    <li id="attribuer-btn">
        <i class="fa-solid fa-laptop"></i>
        <span class="text">Attribuer un PC</span>
    </li>
    <li id="Achat_piecevalider-btn">
        <i class="fa-solid fa-keyboard"></i>
        <span class="text">Demande matériel</span>
    </li>
     
    
{% endblock %}
